body{
    
    background-color: red;
    background-image: url( ../images/dum.jpg );
    background-size: contain;
    /* background-size: 150px 100px; */

    background-repeat: no-repeat;

}

 
p{
    color: peru;
    font-size: 20px;
    margin: 10%;
    outline: 50px olive dotted;
    border:  30px solid yellow;
    padding: 5%;
    background-color: white ;
}

.one{
    color: #5c5c5c;
}

#tall{
    background-color: tomato;

}


h1{
    background-color: tomato;
kok'
}